<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lyh.apk.mapper.AgentUserMapper">
  <resultMap id="BaseResultMap" type="com.lyh.apk.model.AgentUser">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="sys_user_id" jdbcType="INTEGER" property="sysUserId" />
    <result column="game_user_id" jdbcType="INTEGER" property="gameUserId" />
    <result column="status" jdbcType="CHAR" property="status" />
    <result column="level" jdbcType="INTEGER" property="level" />
    <result column="creater" jdbcType="INTEGER" property="creater" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="flag" jdbcType="CHAR" property="flag" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.lyh.apk.model.AgentUser">
    <result column="remarks" jdbcType="LONGVARCHAR" property="remarks" />
    <result column="divide_ratio" jdbcType="INTEGER" property="divideRatio" />
    <result column="domain_name" jdbcType="VARCHAR" property="domainName" />
    <result column="parent_id" jdbcType="INTEGER" property="parentId" />
  <!--新增 2018年11月22日21:36:04-->
    <result column="tax_revenue_max" jdbcType="BIGINT" property="taxRevenueMax" />
    <result column="gain_max" jdbcType="BIGINT" property="gainMax" />
    <result column="blend_tax_revenue_max" jdbcType="BIGINT" property="blendTaxRevenueMax" />
    <result column="blend_gain_max" jdbcType="BIGINT" property="blendGainMax" />
    <result column="divide_into_type" jdbcType="BIGINT" property="divideIntoType" />
    <result column="real_name" jdbcType="VARCHAR" property="realName" />
    <result column="bank_no" jdbcType="VARCHAR" property="bankNo" />
    <result column="card_house_row" jdbcType="VARCHAR" property="cardHouseRow" />
    <result column="branch_information" jdbcType="VARCHAR" property="branchInformation" />
    <result column="mobile" jdbcType="VARCHAR" property="mobile" />
    <result column="auditing_status" jdbcType="INTEGER" property="auditingStatus" />
  </resultMap>
    
    <resultMap extends="ResultMapWithBLOBs" id="apk" type="com.lyh.apk.model.AgentUser">
        <result column="create_package_flag" jdbcType="INTEGER" property="createPackageFlag" />
    </resultMap>

  <sql id="Base_Column_List">
    id, sys_user_id, game_user_id, status, level, creater, create_time, flag
  </sql>

  <sql id="Blob_Column_List">
    remarks,divide_ratio,domain_name,parent_id
  </sql>


  <sql id="Base_Column_List_SelectByAgentUser">
    id, sys_user_id, game_user_id, status, level, creater, create_time, flag, remarks,divide_ratio,domain_name,parent_id,tax_revenue_max,
    gain_max,blend_tax_revenue_max,blend_gain_max,divide_into_type,real_name,bank_no,card_house_row,branch_information,mobile,auditing_status
  </sql>

    <!---->
  <!--<select id="selectByAgentUser" parameterType="com.lyh.apk.model.AgentUser" resultMap="ResultMapWithBLOBs">-->
    <!--select 'false' as QUERYID,-->
    <!--<include refid="Base_Column_List_SelectByAgentUser" />-->

    <!--from tb_agent_user as au-->
    <!--where 1=1-->
     <!--and au.flag = 0-->
    <!--<if test="id != null ">-->
      <!--and au.id = #{id,jdbcType=INTEGER}-->
    <!--</if>-->
    <!--<if test="level != null ">-->
      <!--and au.level = #{level,jdbcType=INTEGER}-->
    <!--</if>-->
    <!--<if test="auditingStatus != null ">-->
      <!--and au.auditing_status = #{auditingStatus,jdbcType=INTEGER}-->
    <!--</if>-->
  <!--</select>-->
  <!--<select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">-->
    <!--select 'false' as QUERYID,-->
    <!--<include refid="Base_Column_List" />-->
    <!--,-->
    <!--<include refid="Blob_Column_List" />-->
    <!--from tb_agent_user-->
    <!--where id = #{id,jdbcType=INTEGER}-->
  <!--</select>-->
  <!--<select id="selectAgentEntry" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">-->
    <!--select *-->
    <!--from tb_agent_user-->
    <!--where id = #{id,jdbcType=INTEGER}-->
  <!--</select>-->
  <!--&lt;!&ndash;查询所有&ndash;&gt;-->
  <!--<select id="getByListAll" resultMap="ResultMapWithBLOBs" parameterType="com.lyh.apk.model.AgentUser">-->
    <!--&lt;!&ndash;select 'false' as QUERYID,&ndash;&gt;-->
    <!--&lt;!&ndash;<include refid="Base_Column_List" />&ndash;&gt;-->
    <!--&lt;!&ndash;,&ndash;&gt;-->
    <!--&lt;!&ndash;<include refid="Blob_Column_List" />&ndash;&gt;-->
    <!--&lt;!&ndash;from tb_agent_user&ndash;&gt;-->
    <!--SELECT-->
    <!--a.id, a.sys_user_id, a.game_user_id, a.status, a.level, a.creater, a.create_time, a.flag,-->
    <!--a.divide_ratio,a.domain_name,a.parent_id,u.account_name as remarks-->
    <!--FROM tb_agent_user a left join tb_user u on a.sys_user_id = u.user_id-->
    <!--WHERE 1=1-->
    <!--<if test="parentId != null">-->
      <!--AND a.parent_id = #{parentId,jdbcType=INTEGER}-->
    <!--</if>-->
  <!--</select>-->

  <!--&lt;!&ndash;代理-列表查询&ndash;&gt;-->
  <!--<select id="getAgentList" parameterType="query" resultType="map">-->
    <!--/*ID,代理账户,创建时间,昵称,返点比例*/-->
    <!--select dau.game_user_id as userId,tu.account_name as accountName,dau.create_time as createTime,dui.full_name as fullName,dau.divide_ratio as divideRatio,-->
    <!--/*金币总额,充值总额,有效下注总额*/-->
    <!--(acc.money+acc.safe_money) as totalMoney,acc.total_balance as totalBalance,acc.valid_money as validMoney,-->
    <!--/*提现总额-已成功提现*/-->
    <!--(select sum(dw.income_money) from dwc_withdraw dw where dw.user_id=dau.game_user_id and dw.status =3) as totalPostalMoney,-->
    <!--/*代理等级,代理状态,渠道名,id,用户状态*/-->
    <!--dau.level as agentLevel,dau.status as agentStatus,dcs.name as packageName,dau.id as id,dui.status as userStatus,-->
    <!--/*用户名,上级,最后登录时间,最后登录ip*/-->
    <!--dui.username as username,dui.parent_id as parentId,dll.create_time as lastLoginTime,dll.last_login_ip as lastLoginIp,-->
    <!--/*下级总数*/-->
    <!--(select count(*) from dwc_user_info ui2 where ui2.parent_id=dau.game_user_id)as nextTotal,-->
    <!--/**代理id，系统用户id,登录日志id,保险箱金币**/-->
    <!--dau.id as agentId,dau.sys_user_id as sysUserId,dll.id as loginId,acc.safe_money as safeMoney,-->
    <!--/*待分成*/-->
    <!--(select sum(dar.divide_gold) from tb_agent_record dar where dar.agent_id=dau.id and dar.status=0) as notCountMoney,-->
    <!--/*分成id*/-->
    <!--(select group_concat(dar.id) from tb_agent_record dar where dar.agent_id=dau.id and dar.status=0) as payIds-->

    <!--from tb_agent_user dau join tb_user tu on dau.sys_user_id=tu.user_id-->
    <!--join dwc_user_info dui on dau.game_user_id=dui.user_id-->
    <!--left join dwc_account acc on dau.game_user_id=acc.user_id-->
    <!--left join dwc_channel_package dcs on dui.package_code=dcs.package_code-->
    <!--left join dwc_login_log dll on dau.game_user_id=dll.user_id-->
    <!--and dll.create_time = (select max(create_time) from dwc_login_log where user_id =dau.game_user_id )-->
    <!--WHERE 1=1-->
    <!--/*条件*/-->
    <!--<if test="params.status != null and params.status != ''">-->
        <!--AND dau.status = '${params.status}'-->
    <!--</if>-->
    <!--<if test="params.fullNameOrId != null and params.fullNameOrId != '' ">-->
      <!--and  (instr(ifnull(dui.full_name,''),'${params.fullNameOrId}')>0 or (dui.user_id='${params.fullNameOrId}'))-->
    <!--</if>-->
    <!--<if test="params.startTime != null and params.startTime != '' and params.endTime !=null and params.endTime !='' ">-->
        <!--AND dau.create_time BETWEEN '${params.startTime}' AND '${params.endTime}'-->
    <!--</if>-->
  <!--</select>-->

  <!--&lt;!&ndash;下级-代理-列表查询&ndash;&gt;-->
  <!--<select id="getNextAgentList" parameterType="query" resultType="map">-->
    <!--&lt;!&ndash;ID,创建时间,昵称,返点比例&ndash;&gt;-->
  <!--select dui.user_id as userId,dui.create_time as createTime,dui.full_name as fullName,dau.divide_ratio as divideRatio,-->
    <!--&lt;!&ndash;金币总额,充值总额,有效下注总额&ndash;&gt;-->
  <!--(acc.money+acc.safe_money) as totalMoney,acc.total_balance as totalBalance,acc.valid_money as validMoney,-->
    <!--&lt;!&ndash;提现总额-已成功提现&ndash;&gt;-->
  <!--(select sum(dw.income_money) from dwc_withdraw dw where dw.user_id=dui.user_id and dw.status =3) as totalPostalMoney,-->
    <!--&lt;!&ndash;代理等级,代理状态,渠道名,用户状态&ndash;&gt;-->
  <!--dau.level as agentLevel,dau.status as agentStatus,dcs.name as packageName,dui.status as userStatus,dui.register_addr as registerAddr,-->
    <!--&lt;!&ndash;用户名,上级,最后登录时间,最后登录ip,user_info中登录ip&ndash;&gt;-->
  <!--dui.username as username,dui.parent_id as parentId,dll.create_time as lastLoginTime,dll.last_login_ip as lastLoginIp,dui.login_addr as loginAddr,-->
    <!--&lt;!&ndash;下级总数&ndash;&gt;-->
  <!--(select count(*) from dwc_user_info ui2 where ui2.parent_id=dau.game_user_id)as nextTotal,-->
    <!--&lt;!&ndash;代理id，系统用户id,登录日志id&ndash;&gt;-->
  <!--dau.id as agentId,dau.sys_user_id as sysUserId,dll.id as loginId,-->
    <!--&lt;!&ndash;合作商code,合作商名,keyword&ndash;&gt;-->
  <!--dui.partner_code as pCode,ifnull(dap.p_name,'平台') as pName,dui.key_word as keyWord,-->
    <!--&lt;!&ndash;待分成&ndash;&gt;-->
  <!--(select sum(dar.divide_gold) from tb_agent_record dar where dar.agent_id=dau.id and dar.status=0) as notCountMoney-->

<!--from dwc_user_info dui-->
<!--left join tb_agent_partner dap on dui.agent_id = dap.agent_id and dui.partner_code = dap.p_code-->
<!--left join dwc_account acc on dui.user_id=acc.user_id-->
<!--left join dwc_channel_package dcs on dui.package_code=dcs.package_code-->
<!--left join tb_agent_user dau on dau.game_user_id=dui.user_id-->
<!--left join dwc_login_log dll on dui.user_id=dll.user_id-->
<!--and dll.create_time = (select max(create_time) from dwc_login_log where user_id =dui.user_id )-->
<!--WHERE 1=1-->
<!--&lt;!&ndash;条件&ndash;&gt;-->
    <!--<if test="params.parentId != null and params.parentId != '' ">-->
      <!--AND ((dui.parent_id = '${params.parentId}') OR dui.user_id = '${params.parentId}')-->
    <!--</if>-->
    <!--<if test="params.agentId != null and params.agentId != '' ">-->
      <!--AND dui.agent_id = #{params.agentId,jdbcType=INTEGER}-->
    <!--</if>-->
    <!--<if test="params.partnerCode != null and params.partnerCode != '' ">-->
      <!--AND dui.partner_code = '${params.partnerCode}'-->
    <!--</if>-->
    <!--<if test="params.keyWord != null and params.keyWord != '' ">-->
      <!--AND instr(ifnull(dui.key_word,''),'${params.keyWord}')>0-->
    <!--</if>-->
    <!--<if test="params.fullNameOrId != null and params.fullNameOrId != '' ">-->
      <!--and  (instr(ifnull(dui.full_name,''),'${params.fullNameOrId}')>0 or (dui.user_id='${params.fullNameOrId}'))-->
    <!--</if>-->
    <!--<if test="params.startTime != null and params.startTime != '' and params.endTime !=null and params.endTime !='' ">-->
      <!--AND dui.create_time BETWEEN '${params.startTime}' AND '${params.endTime}'-->
    <!--</if>-->
    <!--ORDER BY dui.create_time DESC-->
  <!--</select>-->

  <!--&lt;!&ndash;下级-代理-列表查询&ndash;&gt;-->
  <!--<select id="getNextAgentAllList" parameterType="query" resultType="map">-->
    <!--select tu.account_name as accountName , tu.name as name ,tu.mobile as mobile ,tu.qq as qq ,tu.email as email-->
    <!--,tu.description as description ,tu.description as description ,tu.locked as locked , tr.name as roleName-->
    <!--, tu.create_time as createTime, tu.create_time as updateTime, tu.package_code as packageCode , tau.id as agentId-->
    <!--, tu.user_id as userId, tau.level as level,-->
    <!--(select count(*) from tb_agent_user t1 where t1.parent_id = tau.id ) as nextNum-->
    <!--from tb_user tu join tb_agent_user tau on tu.user_id = tau.sys_user_id join tb_role_user tru on tru.user_id = tu.user_id-->
    <!--LEFT JOIN tb_role tr on tr.role_id = tru.role_id-->
    <!--WHERE delete_status = 0-->
    <!--<if test="params.agentId != null and params.agentId != '' ">-->
      <!--AND tau.parent_id = '${params.agentId}'-->
    <!--</if>-->

    <!--<if test="params.nick != null and params.nick != '' ">-->
      <!--AND tu.name = '${params.nick}'-->
    <!--</if>-->
    <!--<if test="params.name != null and params.name != '' ">-->
      <!--AND tau.account_name = '${params.name}'-->
    <!--</if>-->
    <!--<if test="params.deleteStatus != null and params.deleteStatus != '' ">-->
      <!--AND tau.status = '${params.delete_status}'-->
    <!--</if>-->
    <!--ORDER BY tu.create_time DESC-->
  <!--</select>-->
  <!--&lt;!&ndash;下级-代理-列表查询 判断审核的&ndash;&gt;-->
  <!--<select id="getNextAuditAgentAllList" parameterType="query" resultType="Map">-->
    <!--select tu.account_name as accountName , tu.name as name ,tu.mobile as mobile ,tu.qq as qq ,tu.email as email-->
    <!--,tu.description as description ,tu.description as description ,tu.locked as locked-->
    <!--, tu.create_time as createTime, tu.create_time as updateTime, tu.package_code as packageCode , tau.id as agentId-->
    <!--, tu.user_id as userId, tau.level as level-->
    <!--FROM tb_agent_user tau join tb_user tu on tu.user_id = tau.sys_user_id-->
    <!--WHERE flag = 0-->
    <!--<if test="params.agentId != null and params.agentId != '' ">-->
      <!--AND tau.parent_id = '${params.agentId}'-->
    <!--</if>-->
    <!--<if test="params.agentIdDef != null">-->
      <!--AND tau.id = #{params.agentIdDef,jdbcType=INTEGER}-->
    <!--</if>-->
    <!--<if test="params.auditingStatus != null and params.auditingStatus != '' ">-->
      <!--AND tau.auditing_status = '${params.auditingStatus}'-->
    <!--</if>-->
    <!--ORDER BY tu.create_time DESC-->
  <!--</select>-->
  <!--<select id="getGeneralizeList" parameterType="query" resultType="Map">-->
    <!--select tu.account_name as accountName , tu.name as name ,tu.mobile as mobile ,tu.qq as qq ,tu.email as email-->
    <!--,tu.description as description ,tu.description as description ,tu.locked as locked-->
    <!--, tu.create_time as createTime, tu.create_time as updateTime, tu.package_code as packageCode , tau.id as agentId-->
    <!--, tu.user_id as userId, tau.level as level-->
    <!--FROM tb_agent_user tau join tb_user tu on tu.user_id = tau.sys_user_id-->
    <!--WHERE flag = 0 and tau.level = 1-->
    <!--<if test="params.agentId != null and params.agentId != '' ">-->
      <!--AND tau.id = #{params.agentId,jdbcType=INTEGER}-->
    <!--</if>-->
    <!--ORDER BY tu.create_time DESC-->
  <!--</select>-->
  <!--&lt;!&ndash;所有下级代理列表&ndash;&gt;-->
  <!--<select id="getallNextAgentList" parameterType="query" resultType="Map">-->
    <!--select tu.account_name as accountName , tu.name as name ,tu.mobile as mobile ,tu.qq as qq ,tu.email as email-->
    <!--,tu.description as description ,tu.description as description ,tu.locked as locked-->
    <!--, tu.create_time as createTime, tu.create_time as updateTime, tu.package_code as packageCode , tau.id as agentId-->
    <!--, tu.user_id as userId, tau.level as level-->
    <!--FROM tb_agent_user tau join tb_user tu on tu.user_id = tau.sys_user_id-->
    <!--WHERE tau.flag = 0 and tau.auditing_status = 2-->
    <!--<if test="params.agentId != null and params.agentId != '' ">-->
      <!--AND tau.id = '${params.agentId}'-->
    <!--</if>-->
    <!--<if test="params.parentId != null and params.parentId != '' ">-->
      <!--AND tau.parent_id = '${params.parentId}'-->
    <!--</if>-->
    <!--<if test="params.level != null and params.level != '' ">-->
      <!--AND tau.level = '${params.level}'-->
    <!--</if>-->
  <!--</select>-->
  <!--&lt;!&ndash;所有的一级代理&ndash;&gt;-->
  <!--<select id="getOneAgentList" parameterType="query" resultMap="ResultMapWithBLOBs">-->
    <!--select * FROM tb_agent_user WHERE flag = 0 and level = 1-->
  <!--</select>-->
  <!--&lt;!&ndash;所有的二级代理&ndash;&gt;-->
  <!--<select id="getTwoAgentList"  resultMap="ResultMapWithBLOBs">-->
    <!--select * FROM tb_agent_user WHERE flag = 0 and parent_id = #{agentId,jdbcType=INTEGER}-->
  <!--</select>-->
  <!--&lt;!&ndash;判断唯一&ndash;&gt;-->
  <!--<select id="checkAgent" resultType="java.lang.Integer">-->
    <!--<if test="gameUserId != null">-->
     <!--and  game_user_id=#{gameUserId,jdbcType=INTEGER}-->
    <!--</if>-->
  <!--</select>-->
  <!--&lt;!&ndash;查询后台-用户id&ndash;&gt;-->
  <!--<select id="getAgentUser" resultMap="ResultMapWithBLOBs">-->
    <!--select * from tb_agent_user-->
    <!--WHERE 1=1-->
    <!--<if test="sysUserId != null">-->
      <!--and sys_user_id=#{sysUserId,jdbcType=INTEGER}-->
    <!--</if>-->
  <!--</select>-->
  <!--&lt;!&ndash;查询游戏-用户id&ndash;&gt;-->
  <!--<select id="getAgentGameUser" resultMap="ResultMapWithBLOBs">-->
    <!--select * from tb_agent_user-->
    <!--WHERE 1=1-->
    <!--<if test="gameUserId != null">-->
      <!--and game_user_id=#{gameUserId,jdbcType=INTEGER}-->
    <!--</if>-->
  <!--</select>-->
  <!--&lt;!&ndash;账号查询&ndash;&gt;-->
  <!--<select id="getAgentUserAccount" resultMap="ResultMapWithBLOBs">-->
    <!--select * from tb_agent_user a-->
    <!--join tb_user u on a.sys_user_id=u.user_id-->
    <!--<if test="accountName != null and accountName != '' ">-->
      <!--and u.account_name = #{accountName,jdbcType=VARCHAR}-->
    <!--</if>-->
  <!--</select>-->

  <!--<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">-->
    <!--delete from tb_agent_user-->
    <!--where id = #{id,jdbcType=INTEGER}-->
  <!--</delete>-->
  <!--<insert id="insert" parameterType="com.lyh.apk.model.AgentUser">-->
    <!--insert into tb_agent_user (id, sys_user_id,parent_id game_user_id,-->
      <!--status, level, creater, -->
      <!--create_time, flag, remarks-->
      <!--)-->
    <!--values (#{id,jdbcType=INTEGER}, #{sysUserId,jdbcType=INTEGER},#{parentId,jdbcType=INTEGER}, #{gameUserId,jdbcType=INTEGER},-->
      <!--#{status,jdbcType=CHAR}, #{level,jdbcType=INTEGER}, #{creater,jdbcType=INTEGER}, -->
      <!--#{createTime,jdbcType=TIMESTAMP}, #{flag,jdbcType=CHAR}, #{remarks,jdbcType=LONGVARCHAR}-->
      <!--)-->
  <!--</insert>-->
  <!--<insert id="insertSelective" parameterType="com.lyh.apk.model.AgentUser" useGeneratedKeys="true" keyProperty="id" keyColumn="id">-->
    <!--insert into tb_agent_user-->
    <!--<trim prefix="(" suffix=")" suffixOverrides=",">-->
      <!--<if test="id != null">-->
        <!--id,-->
      <!--</if>-->
      <!--<if test="sysUserId != null">-->
        <!--sys_user_id,-->
      <!--</if>-->
      <!--<if test="parentId != null">-->
        <!--parent_id,-->
      <!--</if>-->
      <!--<if test="gameUserId != null">-->
        <!--game_user_id,-->
      <!--</if>-->
      <!--<if test="status != null">-->
        <!--status,-->
      <!--</if>-->
      <!--<if test="level != null">-->
        <!--level,-->
      <!--</if>-->
      <!--<if test="creater != null">-->
        <!--creater,-->
      <!--</if>-->
      <!--<if test="createTime != null">-->
        <!--create_time,-->
      <!--</if>-->
      <!--<if test="flag != null">-->
        <!--flag,-->
      <!--</if>-->
      <!--<if test="remarks != null">-->
        <!--remarks,-->
      <!--</if>-->
      <!--<if test="divideRatio != null">-->
        <!--divide_ratio,-->
      <!--</if>-->
      <!--<if test="domainName != null">-->
        <!--domain_name,-->
      <!--</if>-->
      <!--<if test="taxRevenueMax != null">-->
        <!--tax_revenue_max,-->
      <!--</if>-->

      <!--<if test="gainMax != null">-->
        <!--gain_max,-->
      <!--</if>-->

      <!--<if test="blendTaxRevenueMax != null">-->
        <!--blend_tax_revenue_max,-->
      <!--</if>-->
      <!--<if test="blendGainMax != null">-->
        <!--blend_gain_max,-->
      <!--</if>-->

      <!--<if test="divideIntoType != null">-->
        <!--divide_into_type,-->
      <!--</if>-->

      <!--<if test="auditingStatus != null">-->
        <!--auditing_status,-->
      <!--</if>-->
    <!--</trim>-->
    <!--<trim prefix="values (" suffix=")" suffixOverrides=",">-->
      <!--<if test="id != null">-->
        <!--#{id,jdbcType=INTEGER},-->
      <!--</if>-->
      <!--<if test="sysUserId != null">-->
        <!--#{sysUserId,jdbcType=INTEGER},-->
      <!--</if>-->
      <!--<if test="parentId != null">-->
        <!--#{parentId,jdbcType=INTEGER},-->
      <!--</if>-->
      <!--<if test="gameUserId != null">-->
        <!--#{gameUserId,jdbcType=INTEGER},-->
      <!--</if>-->
      <!--<if test="status != null">-->
        <!--#{status,jdbcType=CHAR},-->
      <!--</if>-->
      <!--<if test="level != null">-->
        <!--#{level,jdbcType=INTEGER},-->
      <!--</if>-->
      <!--<if test="creater != null">-->
        <!--#{creater,jdbcType=INTEGER},-->
      <!--</if>-->
      <!--<if test="createTime != null">-->
        <!--#{createTime,jdbcType=TIMESTAMP},-->
      <!--</if>-->
      <!--<if test="flag != null">-->
        <!--#{flag,jdbcType=CHAR},-->
      <!--</if>-->
      <!--<if test="remarks != null">-->
        <!--#{remarks,jdbcType=LONGVARCHAR},-->
      <!--</if>-->
      <!--<if test="divideRatio != null">-->
        <!--#{divideRatio,jdbcType=INTEGER},-->
      <!--</if>-->
      <!--<if test="domainName != null">-->
        <!--#{domainName,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="taxRevenueMax != null">-->
         <!--#{taxRevenueMax,jdbcType=BIGINT},-->
      <!--</if>-->

      <!--<if test="gainMax != null">-->
         <!--#{gainMax,jdbcType=BIGINT},-->
      <!--</if>-->

      <!--<if test="blendTaxRevenueMax != null">-->
       <!--#{blendTaxRevenueMax,jdbcType=BIGINT},-->
      <!--</if>-->
      <!--<if test="blendGainMax != null">-->
       <!--#{blendGainMax,jdbcType=BIGINT},-->
      <!--</if>-->

      <!--<if test="divideIntoType != null">-->
        <!--#{divideIntoType,jdbcType=INTEGER},-->
      <!--</if>-->
      <!--<if test="auditingStatus != null">-->
        <!--#{auditingStatus,jdbcType=INTEGER},-->
      <!--</if>-->
    <!--</trim>-->
  <!--</insert>-->

  <!--<update id="updateByPrimaryKeySelective" parameterType="com.lyh.apk.model.AgentUser">-->
    <!--update tb_agent_user-->
    <!--<set>-->
      <!--<if test="sysUserId != null">-->
        <!--sys_user_id = #{sysUserId,jdbcType=INTEGER},-->
      <!--</if>-->
      <!--<if test="parentId != null">-->
        <!--parent_id = #{parentId,jdbcType=INTEGER},-->
      <!--</if>-->
      <!--<if test="gameUserId != null">-->
        <!--game_user_id = #{gameUserId,jdbcType=INTEGER},-->
      <!--</if>-->
      <!--<if test="status != null">-->
        <!--status = #{status,jdbcType=CHAR},-->
      <!--</if>-->
      <!--<if test="level != null">-->
        <!--level = #{level,jdbcType=INTEGER},-->
      <!--</if>-->
      <!--<if test="creater != null">-->
        <!--creater = #{creater,jdbcType=INTEGER},-->
      <!--</if>-->
      <!--<if test="createTime != null">-->
        <!--create_time = #{createTime,jdbcType=TIMESTAMP},-->
      <!--</if>-->
      <!--<if test="flag != null">-->
        <!--flag = #{flag,jdbcType=CHAR},-->
      <!--</if>-->
      <!--<if test="remarks != null">-->
        <!--remarks = #{remarks,jdbcType=LONGVARCHAR},-->
      <!--</if>-->
      <!--<if test="divideRatio != null">-->
        <!--divide_ratio = #{divideRatio,jdbcType=INTEGER},-->
      <!--</if>-->
      <!--<if test="domainName != null">-->
        <!--domain_name = #{domainName,jdbcType=VARCHAR},-->
      <!--</if>-->

      <!--<if test="taxRevenueMax != null">-->
        <!--tax_revenue_max = #{taxRevenueMax,jdbcType=BIGINT},-->
      <!--</if>-->

      <!--<if test="gainMax != null">-->
        <!--gain_max = #{gainMax,jdbcType=BIGINT},-->
      <!--</if>-->

      <!--<if test="blendTaxRevenueMax != null">-->
        <!--blend_tax_revenue_max = #{blendTaxRevenueMax,jdbcType=BIGINT},-->
      <!--</if>-->
      <!--<if test="blendGainMax != null">-->
        <!--blend_gain_max = #{blendGainMax,jdbcType=BIGINT},-->
      <!--</if>-->

      <!--<if test="divideIntoType != null">-->
        <!--divide_into_type = #{divideIntoType,jdbcType=INTEGER},-->
      <!--</if>-->
      <!--<if test="auditingStatus != null">-->
        <!--auditing_status = #{auditingStatus,jdbcType=INTEGER},-->
      <!--</if>-->
    <!--</set>-->
    <!--where id = #{id,jdbcType=INTEGER}-->
  <!--</update>-->
  <!--<update id="modifyMyMobileQqName" parameterType="com.lyh.apk.model.AgentUser">-->
    <!--update tb_agent_user-->
    <!--<set>-->
      <!--<if test="realName != null">-->
        <!--real_name = #{realName,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="bankNo != null">-->
        <!--bank_no = #{bankNo,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="cardHouseRow != null">-->
        <!--card_house_row = #{cardHouseRow,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="branchInformation != null">-->
        <!--branch_information = #{branchInformation,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="mobile != null">-->
        <!--mobile = #{mobile,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="auditingStatus != null">-->
        <!--auditing_status = #{auditingStatus,jdbcType=INTEGER},-->
      <!--</if>-->
      <!--<if test="divideIntoType != null">-->
        <!--divide_into_type = #{divideIntoType,jdbcType=INTEGER},-->
      <!--</if>-->
      <!--<if test="sysUserId != null">-->
        <!--sys_user_id = #{sysUserId,jdbcType=INTEGER},-->
      <!--</if>-->
      <!--<if test="parentId != null">-->
        <!--parent_id = #{parentId,jdbcType=INTEGER},-->
      <!--</if>-->
      <!--<if test="status != null">-->
        <!--status = #{status,jdbcType=CHAR},-->
      <!--</if>-->
      <!--<if test="creater != null">-->
        <!--creater = #{creater,jdbcType=INTEGER},-->
      <!--</if>-->
      <!--<if test="flag != null">-->
        <!--flag = #{flag,jdbcType=CHAR},-->
      <!--</if>-->
      <!--<if test="remarks != null">-->
        <!--remarks = #{remarks,jdbcType=LONGVARCHAR},-->
      <!--</if>-->
      <!--<if test="divideRatio != null">-->
        <!--divide_ratio = #{divideRatio,jdbcType=INTEGER},-->
      <!--</if>-->
    <!--</set>-->
    <!--where id = #{id,jdbcType=INTEGER}-->
  <!--</update>-->
  <!--<update id="updateByPrimaryKeyWithBLOBs" parameterType="com.lyh.apk.model.AgentUser">-->
    <!--update tb_agent_user-->
    <!--set sys_user_id = #{sysUserId,jdbcType=INTEGER},-->
      <!--parent_id = #{parentId,jdbcType=INTEGER},-->
      <!--game_user_id = #{gameUserId,jdbcType=INTEGER},-->
      <!--status = #{status,jdbcType=CHAR},-->
      <!--level = #{level,jdbcType=INTEGER},-->
      <!--creater = #{creater,jdbcType=INTEGER},-->
      <!--create_time = #{createTime,jdbcType=TIMESTAMP},-->
      <!--flag = #{flag,jdbcType=CHAR},-->
      <!--remarks = #{remarks,jdbcType=LONGVARCHAR}-->
    <!--where id = #{id,jdbcType=INTEGER}-->
  <!--</update>-->
  <!--<update id="updateByPrimaryKey" parameterType="com.lyh.apk.model.AgentUser">-->
    <!--update tb_agent_user-->
    <!--set sys_user_id = #{sysUserId,jdbcType=INTEGER},-->
      <!--parent_id = #{parentId,jdbcType=INTEGER},-->
      <!--game_user_id = #{gameUserId,jdbcType=INTEGER},-->
      <!--status = #{status,jdbcType=CHAR},-->
      <!--level = #{level,jdbcType=INTEGER},-->
      <!--creater = #{creater,jdbcType=INTEGER},-->
      <!--create_time = #{createTime,jdbcType=TIMESTAMP},-->
      <!--flag = #{flag,jdbcType=CHAR}-->
    <!--where id = #{id,jdbcType=INTEGER}-->
  <!--</update>-->
  <!--&lt;!&ndash;推广数量&ndash;&gt;-->
  <!--<update id="generalizeNum" parameterType="com.lyh.apk.model.AgentUser">-->
    <!--select count(*) FROM tb_agent_user-->
    <!--<if test="params.parentId != null and params.parentId != '' ">-->
      <!--AND parent_id = '${params.parentId}'-->
    <!--</if>-->
    <!--<if test="params.number != null and params.number != '' ">-->
      <!--AND divide_into_type = '${params.number}'-->
    <!--</if>-->
  <!--</update>-->
  <!--<update id="updateAgentApplyFor" parameterType="com.lyh.apk.model.AgentUser">-->
    <!--update tb_agent_user-->
    <!--set tax_revenue_max = #{taxRevenueMax,jdbcType=INTEGER},-->
    <!--gain_max = #{gainMax,jdbcType=INTEGER},-->
    <!--blend_tax_revenue_max = #{blendTaxRevenueMax,jdbcType=INTEGER},-->
    <!--blend_gain_max = #{blendGainMax,jdbcType=INTEGER},-->
    <!--auditing_status = #{auditingStatus,jdbcType=INTEGER}-->
    <!--where id = #{id,jdbcType=INTEGER}-->
  <!--</update>-->


    <select id="findAllAgentByLevel" resultMap="apk">
        select * from tb_agent_user where
        level = #{level,jdbcType=INTEGER}

    </select>

    <!--代理等级与是否与创建渠道包查询-->
    <select id="findByLevelAndCreatePackage" resultMap="apk">
        select * from tb_agent_user where
        level = #{level,jdbcType=INTEGER} AND create_package_flag = #{createPackageFlag,jdbcType=INTEGER}

    </select>


    <update id="updateByCreatePackageFlag" parameterType="com.lyh.apk.model.AgentUser">
    update tb_agent_user
    set create_package_flag = #{createPackageFlag,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>

</mapper>